<!DOCTYPE html>
<html lang="en">

<head>
    <title>Estórias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>

  <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/">
                    <img src="images/logo.png" width="77" height="59"></img>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/projects">Projetos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="/stories">Estórias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/tests">Casos de Teste</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="/user/edit" class="nav-link border border-light rounded waves-effect">
                                <i class="fa fa-user"></i>Editar conta
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link border border-light rounded waves-effect">
                                <i class="fa fa-sign-out"></i>Sair
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Cards-->
            <section class="pt-4">

                <!-- Heading & Description -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="h1 text-center" style="display: inline-block; margin-left: 25px;">Estórias</h2>
                        <button class="btn btn-success" data-toggle="modal" data-target="#add_new_story_modal" 
                            style="display: inline-block; vertical-align:top; margin:  0; margin-left: 69%;">Nova Estória</button>
                    </div>
                </div>
                <!-- Heading & Description -->
                
                <hr class="mb-3">

                <!-- Show error messages of create, update or delete operations -->
                <% if (messages.error) { %>
                    <section class="alert alert-danger alert-dismissible fade show">
                        <p>Atenção!</p>
                        <strong><%- messages.error %></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </section>
                <% } %>

                <!-- Show success messages of create, update or delete operations -->
                <% if (messages.success) { %>
                    <section class="alert alert-success alert-dismissible fade show">
                        <strong><%- messages.success %></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </section>
                <% } %>

                <!-- Show error messages of a read/search operation -->
                <% if(errors && errors.length > 0) { %>
                    <section class="alert alert-danger">
                        <p>Atenção!</p>
                        <ul>
                            <% for(let i = 0; i < errors.length; i++){ %>
                            <li>
                                <strong><%= errors[i].msg %></strong>
                            </li>
                            <% } %>
                        </ul>
                    </section>
                <% } %>

                <!--Grid row-->
                <div class="row wow fadeIn">
                 
                    <% if(stories === undefined || (stories && stories.length == 0)) { %>
                        <div class="row ml-4 mt-2">
                            <h4>Não há estórias a serem exibidas.</h4>
                        </div>
                    <% } else {

                        for(let i = 0; i < stories.length; i++) { %>
                            <hr class="mb-2">
                            <div class="col-md-12 ml-xl-4 mb-4">
                                <h3 class="mb-3 dark-grey-text">
                                    <strong><%= stories[i].description %></strong>
                                </h3>
                                <h5><strong>Projeto:</strong> <%= stories[i].project %></h5>
                                <a href="/tests?idstory=<%= stories[i].idstory %>" class="btn btn-primary btn-md">VER CASOS DE TESTE<i class="fa fa-play ml-2"></i></a>
                                <button onclick="GetStory(<%= stories[i].idstory %>)" class="btn btn-warning btn-md">EDITAR</button>
                                <form class="form-check-inline" method="post" action="/stories/<%= stories[i].idstory %>">
                                    <button type="submit" class="btn btn-danger btn-md" name="delete"
                                        onClick="return confirm('Você realmente deseja apagar esta estória?')">APAGAR</button>
                                    <input type="hidden" name="_method" value="DELETE" />
                                </form>
                            </div>
                     <% }
                      } %>
                    
                </div>
                <!--Grid row-->

                <hr class="mb-5">

            </section>
            <!--Section: Cards-->

        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer font-small orange pt-4">
        <!--Copyright-->
        <div class="footer-copyright text-center py-3">
            <div class="container-fluid">
                 Henrique Grasso e Helen Silva - 2018<br>
                 Template: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- Bootstrap Modals -->
    <!-- Modal - Add New Record -->
    <div class="modal fade" id="add_new_story_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nova Estória</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <form action="/stories" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Projeto</label>
                            <select class="form-control" id="select_story_projects" name="idproject">
                                <option>Selecione...</option>	
                            </select>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // Modal -->
    
    <!-- Modal - Update Record -->
    <div class="modal fade" id="update_story_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Editar Estória</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <form id="editForm" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <textarea class="form-control" id="edit_description" name="description" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_method" value="PUT" />
                        <input type="hidden" id="id" name="idstory">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // Modal -->

    <!-- SCRIPTS -->
    
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <script type="text/javascript" src="js/src/stories.js"></script>
    
</body>

</html>